<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Christoph142/CursorAdjust" defaultlocale="en" version="1.6.1">

	<name>CursorAdjust</name>
	<author href="https://christoph142.wordpress.com">Christoph D.</author>
	<icon src="images/icon.png"/>
	
	<description xml:lang="ar">تغيير مؤشر الفأرة فوق النص في مواقع الأنترنت إلى ما كان عليه في النسخ السابقة لأوبرا</description>
	<description xml:lang="cs">Změňte váš kurzor u normálních webových textů zpět na takový, jaký byl v dřívějších verzích Opery</description>
	<description xml:lang="de">Bringt das Cursor-Verhalten über Text auf Webseiten aus früheren Opera-Versionen zurück</description>
	<description xml:lang="en">Change the cursor over website's text back to what it used to be like in earlier versions of Opera</description>
	<description xml:lang="fr">Change le curseur sur textes au sites du web comme c'était dans les versions antérieures d'Opera</description>

</widget>