<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.codog.de/CursorAdjust" viewmodes="minimized" version="1.4">

  <name>CursorAdjust</name>
  <author>Christoph D.</author>
  <description xml:lang="en">Change your cursor over normal websites text back to what it used to be like in earlier versions of Opera</description>
  <description xml:lang="de">Ändere das Cursor-Verhalten über normalem Text auf Webseiten so zurück, wie es in früheren Opera-Versionen der Fall war</description>
  <description xml:lang="fr">Changez votre curseur sur les textes normales au sites du web comme c'était dans les versions antérieures d'Opera</description>
  <icon src="images/icon.png"/>

</widget>
